html{
  background-color: #eff3fb;
}
  body{
  margin: 50px auto;
  width: 23em;
  max-width: 100%;
  background-color: #f1f5fb;
  border-width: 1.5em;
  border-style: solid;
  border-color: #edf2f8;
  border-top-color: #f1f5fb;
  border-left-color: #f1f5fb;
  border-radius: 3em;
  padding: 0em 1em;
}
sección{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: .83em;
  margin-block-end: .83em;
}
traducción, etc{
  display:flex;
  font-size: 1.10em;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

ramificación{
  font-size: 0.9em;
}

a[href="cv"]{
    font-size: 0.6em;
}
