%resetList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@mixin visuallyhidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

%visuallyhidden {
  @include visuallyhidden();
}

// ==================================================
// z-index Management
//
// Source: https://medium.com/alistapart/sassier-z-index-management-for-complex-layouts-4540717a9488

$z-indexes: (
    main: (
        foo,
        bar,
        tooltip
    ),
    header: (),
    modal: ()
) !default;

@function z-index($key1, $key2: null) {
    $map: $z-indexes;
    $found-index: null;
    @if (map-has-key($map, $key1)) {
        $found-index: index(map-keys($map), $key1);
        @if ($key2) {
            $map: map-get($map, $key1);
            $found-index: index($map, $key2);
        }
    }
    @return $found-index;
}

@function z($key1, $key2: null) {
    @return z-index($key1, $key2);
}



// ==================================================
// String to number converter
//

// Source: http://www.sassmeister.com/gist/9fa19d254864f33d4a80
// http://hugogiraudel.com/2014/01/15/sass-string-to-number/

////
/// String to number converter
/// @author Hugo Giraudel
/// @access private
////


///
/// Casts a string into a number
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function to-number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  } @else if type-of($value) != 'string' {
    $_: log('Value for `to-number` should be a number or a string.');
  }
  
  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);
  
  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);
    
    @if not (index(map-keys($numbers), $character) or $character == '.') {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i))
    }
    
    @if $character == '.' {
      $digits: 1; 
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);  
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }
  
  @return if($minus, -$result, $result);;
}


///
/// Add `$unit` to `$value`
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function to-length($value, $unit) {
  $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);
  
  @if not index(map-keys($units), $unit) {
    $_: log('Invalid unit `#{$unit}`.');
  }
  
  @return $value * map-get($units, $unit);
}


// ==================================================
// Responsive font-size
//

// Source: https://codepen.io/eduardoboucas/pen/YXxmwv?editors=0110 
// https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
// 
// Viewport sized typography with minimum and maximum values
//
// @author Eduardo Boucas (@eduardoboucas)
//
// @param {Number}   $responsive  - Viewport-based size
// @param {Number}   $min         - Minimum font size (px)
// @param {Number}   $max         - Maximum font size (px)
//                                  (optional)
// @param {Number}   $fallback    - Fallback for viewport-
//                                  based units (optional)
//
// @example scss - 5vw font size (with 50px fallback), 
//                 minumum of 35px and maximum of 150px
//  @include responsive-font(5vw, 35px, 150px, 50px);
//
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}


// ==================================================
// Font smoothing
//

@mixin type-fontSmoothing($value: antialiased) {
    @if $value == antialiased {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}


// ==================================================
// unitSize
//
// Use this function to set sizes with proportions.
//
// @param {String} $multiplier - times the base unit ($base-unit by default)
// @param {Number} $offset - A value in pixels which will be added to the
//                  result, can be positive for addition or negative for
//                  subtraction
//
// @return {Number} Value in rem, equal to the number of times the base unit
//                  plus the offset

$base-unit: 0.8 !default;

@function unitSize($multiplier, $offset: 0) {
    @return to-number(($base-unit * $multiplier + $offset) + rem);
}


// ==================================================
// Breakpoints
//

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xxs: 0, // Extra small screen / phone
    xs: 320px, // Extra small screen / phone
    sm: 544px, // Small screen / phone
    md: 768px, // Medium screen / tablet
    lg: 992px, // Large screen / desktop
    xl: 1200px  // Extra large screen / wide desktop
) !default;


// Breakpoint viewport sizes and media queries.
//
// Breakpoints are defined as a map of (name: minimum width), order from small to large:
//
//    (xs: 0, sm: 544px, md: 768px)
//
// The map defined in the `$grid-breakpoints` global variable is used as the `$breakpoints` argument by default.

// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 544px, md: 768px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 544px, md: 768px))
//    544px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 544px, md: 768px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-up($name, $breakpoints) {
    @include media-breakpoint-down($name, $breakpoints) {
      @content;
    }
  }
}






/// ==================================================
/// Function to generate long shadows (because flat is so has-been).
/// Property-agnostic: works for both `box-shadow` and `text-shadow`.
/// `cos` and `sin` might need to be polyfilled if Compass or any 
/// equivalent such as SassyMath is not in use.
///
/// @author Hugo Giraudel
///
/// @link https://unindented.org/articles/trigonometry-in-sass/ Pure Sass `cos` and `sin`
///
/// @param {Direction} $direction
///     Shadow's direction (angle or keyword)
/// @param {Length} $length
///     Shadow's length
/// @param {Color} $color
///     Shadow's color
/// @param {Bool | Color} $fade [false]
///     Whether or not shadow should fade: 
///     - `false` means no fading, shadow is `$color`
///     - `true`  means fading from `$color` to transparent
///     - a color means fading from `$color` to `$fade`
/// @param {Number} $shadow-count [100]
///     Number of computed shadows
///
/// @return {List} - List of shadows
///
/// @require {function} Compass/helpers/math/cos
///     http://compass-style.org/reference/compass/helpers/math/#cos
/// @require {function} Compass/helpers/math/sin
///     http://compass-style.org/reference/compass/helpers/math/#sin
///
/// @example scss - Usage
/// .foo {
///   text-shadow: long-shadow(42deg, 1em, #16a085);
/// }
/// .bar {
///   box-shadow: long-shadow(to top left, 150px, hotpink, tomato);
/// }
@function long-shadow($direction, $length, $color, $fade: false, $shadow-count: 100) {
  $shadows: ();
  $conversion-map: ( 
    to top: 180deg, 
    to top right: 135deg, 
    to right top: 135deg,
    to right: 90deg,
    to bottom right: 45deg,
    to right bottom: 45deg,
    to bottom: 0deg,
    to bottom left: 315deg,
    to left bottom: 315deg,
    to left: 270deg,
    to left top: 225deg,
    to top left: 225deg
  );
  
  @if map-has-key($conversion-map, $direction) {
    $direction: map-get($conversion-map, $direction);
  }
  
  @for $i from 1 through $shadow-count {
    $current-step: ($i * $length / $shadow-count);
    $current-color: if(not $fade, $color, if(type-of($fade) == 'color',  mix($fade, $color, ($i / $shadow-count * 100)), rgba($color, 1 - $i / $shadow-count)));
    
    $shadows: append($shadows, (sin(0deg + $direction) * $current-step) (cos(0deg + $direction) * $current-step) 0 $current-color, 'comma');
  }
  
  @return $shadows;
}




@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

// ===Color
$c-base: #333;
$c-base-dark: #111;
$c-primary: hsl(213,80%, 41%);
$c-secondary: lighten($c-primary, 35%);
$c-keyline: #ddd;
$c-bg: #fff;
$c-link: $c-base;
$c-heading: $c-base-dark;

// ===Base
// Type
$enable-fontSmoothing: true;
$b-fontSize: 1.6rem;
$b-fontFamily: Lato, Helvetica, Arial, sans-serif;
$b-fontWeight: normal;
$b-letterSpacing: 0.008em;
$b-lineHeight: 1.5;
// Animation
$b-animType: ease-in-out; 
$b-animSpeed: 0.2s;
$b-shadowSize: 4px;

// ===Navbar
$Navbar-color: #fff;
$Navbar-bg: #111;
$Navbar-itemLineHeight: 4rem;

// ===Footer
$Footer-gap: unitSize(2);

// ===================================
// Basic
//

@at-root {

  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    background-color: $c-bg;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}


// ==============================
// Utilities
//

@at-root {

  .u-cf {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  .u-hug {
    margin-top: 0 !important;
  }

  .u-pullRight {
    float: right;
  }

  .u-keyline {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $c-keyline;
    }
  }
  
  .u-link {
    display: inline;
    position: relative;
    background-image: linear-gradient(to bottom,lighten($c-primary, 10) 0,lighten($c-primary, 10) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    border-bottom: 0;
    text-decoration: none;
    &:hover {
      background-image: linear-gradient(to bottom,lighten($c-secondary, 10) 0,lighten($c-secondary, 10) 100%);
    }
  }

  .u-shadow {
    text-shadow: $b-shadowSize $b-shadowSize 0 $c-primary;
    transition: text-shadow $b-animSpeed $b-animType;
    @at-root a:hover #{&} {
      text-shadow: (-$b-shadowSize) (-$b-shadowSize) 0 $c-secondary;
    }
  }

  @include media-breakpoint-down(sm) {
    .u-hidden\@sm-down {
      display: none !important;
    }
  }

  @include media-breakpoint-down(xs) {
    .u-hidden\@xs-down {
      display: none !important;
    }
  }

}


// ==============================
// Typography
// 

@at-root {

  body {
    color: $c-base;
    font-size: $b-fontSize;
    font-family: $b-fontFamily;
    font-weight: $b-fontWeight;
    line-height: $b-lineHeight;
    @if ($b-letterSpacing) {
      letter-spacing: $b-letterSpacing;
    }
    @if ($enable-fontSmoothing) {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $c-heading;
    line-height: 1.2;
    font-weight: 900;
  }

  h1, h2, h3, h4, h5, h6, ul, p {
    margin-top: unitSize(2);
    margin-bottom: 0;
  }

  h3, .h3 {
    font-size: 2rem;
    margin-top: unitSize(4);
  }

  a {
    color: $c-link;
  }

  ul {
    padding-left: 1.8rem;
  }

  .Title {
    @include responsive-font(8vw, 42px, 75px, 50px);
    font-family: Lato, 'Open Sans', Helvetica, Arial;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    display: inline-block;
    &-sub {
      font-size: 0.34em;
      letter-spacing: 0.16em;
      font-weight: 400;
      text-transform: none;
      display: block;
      margin-top: unitSize(1.5);
      padding-top: unitSize(2);
      border-top: 0.45em solid;
    }
  }

}


// ==============================
// Layout 
// 

@at-root {

  .l-Wrapper {
    width: 80%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
  
   @include media-breakpoint-down(sm) {
    .l-Wrapper--reset\@sm-down {
      width: 100%;
    }
  }


  // 
  // Header
  // 

  .l-Header {
    margin-top: unitSize(8);
    margin-bottom: unitSize(4);
    &-col {
      margin-top: unitSize(4);
      margin-bottom: unitSize(4);
    }
    @include media-breakpoint-up(sm) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-col {
        &:last-child:not(:first-child) {
          text-align: right;
        }
      }
    }
  }


  // 
  // Sections
  // 

  @at-root {

    .l-Section {
      margin-top: unitSize(8);
      + .l-Section {
        position: relative;
        border-top: 1px solid $c-keyline;
        &:before {
          content: "";
          @include responsive-font(8vw, 42px, 75px, 50px);
          position: absolute;
          top: unitSize(0, -0.1);
          border-top: (0.34em * 0.45) solid;
          width: unitSize(5);
        }
      }
    }

    .l-Section-title,
    .l-Section-content {
      margin-top: unitSize(4);
    }

    .l-Section-content {
      > :first-child {
        margin-top: 0;
      }
      > p:first-child,
      > ul:first-child {
        margin-top: 0.3rem;
      }
    }

    @include media-breakpoint-up(md) {
      .l-Section {
        display: flex;
        &:before {
          display: none;
        }
      }
      .l-Section-title {
        flex: 0 0 24%;
      }
    }

  }


  // 
  // Footer
  // 

  .l-Footer {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: unitSize(16) ($Footer-gap / -2) unitSize(4);
    padding-top: unitSize(4);
    a {
      text-decoration: none;
      display: inline-block;
      &:not(:last-child) {
        margin-right: $Footer-gap;
      }
      &:hover {
        color: $c-base-dark;
      }
    }
    &-col {
      padding-left: $Footer-gap / 2;
      padding-right: $Footer-gap / 2;
    }
  }

}


// ==============================
// Navbar
// 

@at-root {

  .Navbar {
    color: $Navbar-color;
    font-size: 1rem;
    font-weight: bold;
    line-height: $Navbar-itemLineHeight;
    letter-spacing: 0.28rem;
    text-transform: uppercase;
    width: 100%;
    background-color: $Navbar-bg;
    a:not(.Navbar-toggle) {
      color: inherit;
      text-decoration: none;
    }
    ul {
      @extend %resetList;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 0 unitSize(1);
    }
  }

  a.Navbar-btn {
    padding-left: unitSize(2.5);
    padding-right: unitSize(2.5);
    background: $c-primary;
    &:hover {
      background: $c-secondary;
    }
  }
  
  @include media-breakpoint-down(sm) {
    .Navbar {
      text-align: right;
      ul:not(:first-child) {
        display: inline-block;
        padding-right: unitSize(2) !important;
      }
    }
  }

}


// ==============================
// Tags
// 

.Tag {
  color: $c-base-dark;
  text-shadow: 1px 1px 0 rgba(white, 0.4);
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: unitSize(1);
  padding-right: unitSize(1);
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 1em;
    bottom: 0;
    margin: auto;
    border-radius: 0.2rem;
    background-color: $c-secondary;
    transition: all 0.8s 0.4s $b-animType;
  }
  &:hover {
    &:before {
      transform: scale(1.05, 2.4);
      background-color: rgba($c-primary, 1);
      transition-delay: 0s;
      transition-duration: $b-animSpeed;
    }
  }
}


// ==============================
// Print
//

@media print {
  
  html {
    font-size: 50%;
  }
  
  .l-Wrapper {
    width: 100%;
    max-width: none;
  }

  .Navbar,
  .u-hidden\@print {
    display: none;
  }
  
  .l-Header,
  .l-Header-col {
    margin-top: 0;
  }
  
  .l-Footer,
  .l-Section {
    margin-top: unitSize(4);
  }
  
  h3, .h3, 
  .l-Section-title, 
  .l-Section-content {
    margin-top: unitSize(2);
  }

  .Title {
    font-size: 4.5rem;
  }

  .l-Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-col {
      &:last-child:not(:first-child) {
        text-align: right;
      }
    }
  }

  .l-Section {
    position: relative;
    padding-top: 5px;
    border-top: 1px solid $c-keyline;
    &:before {
      display: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      border-top: 5px solid;
      width: unitSize(5);
    }
  }

  .Tag {
    font-weight: 900;
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }

  *,
  *:before,
  *:after,
  p:first-letter,
  div:first-letter,
  blockquote:first-letter,
  li:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  p,
  h2,
  h3,
  li {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
    color: red;
  }

}

@page { margin: 2.2cm 2.2cm 1.8cm; }










u-shadow {
    
}
